{% extends 'base.html' %}
{% block detalji_predmeta %}
<h1>DETALJI PROFESORA</h1>
<table>
  <tr>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Email</th>
    <th>Username</th>
    <th>Uloga</th>
  </tr>
  <tr>
    <td>{{data_u.first_name}}</td>
    <td>{{data_u.last_name}}</td>
    <td>{{data_u.email}}</td>
    <td>{{data_u.username}}</td>
    <td>{{data_r.role}}</td>
  </tr>
</table><br>
<a class="link_uredi" href="{%url 'pregled_profesora' %}">&#129060; Natrag</a>
{% endblock %}