{% extends 'base.html' %}
{% block upis_predmeta_red_admin %}
<h1>UPISNI LIST STUDENTA ({{student.first_name}} {{student.last_name}})</h1>
<a class="link_uredi4" href="{%url 'redovni_studenti' %}">&#129060; Natrag</a>
<div class="upisni_list">
  <div class="red-sem">
    <h2>Semestar 1:</h2>
    <h4>Upisani predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_u%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 1 %}
          {{upisan.ime}}({{upisan.kod}}) &#9998;<br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>
  
    <h4>Polozeni predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_p%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 1 %}
          {{upisan.ime}}({{upisan.kod}}) <a href="{%url 'status_upisan' student.id predmet.predmet_id%}">&#10008; Ukloni predmet iz polozenih</a><br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>
  </div>
  <div class="red-sem">
    <h2>Semestar 2:</h2>
    <h4>Upisani predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_u%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 2 %}
          {{upisan.ime}}({{upisan.kod}}) &#9998;<br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>


    <h4>Polozeni predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_p%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 2 %}
          {{upisan.ime}}({{upisan.kod}}) <a href="{%url 'status_upisan' student.id predmet.predmet_id%}">&#10008; Ukloni predmet iz polozenih</a><br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>
  </div>
  <div class="red-sem">
    <h2>Semestar 3:</h2>
    <h4>Upisani predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_u%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 3 %}
          {{upisan.ime}}({{upisan.kod}}) &#9998;<br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>

    <h4>Polozeni predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_p%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 3 %}
          {{upisan.ime}}({{upisan.kod}}) <a href="{%url 'status_upisan' student.id predmet.predmet_id%}">&#10008; Ukloni predmet iz polozenih</a><br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>
  </div>
  <div class="red-sem">
    <h2>Semestar 4:</h2>
    <h4>Upisani predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_u%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 4 %}
          {{upisan.ime}}({{upisan.kod}}) &#9998;<br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>
  
    <h4>Polozeni predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_p%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 4 %}
          {{upisan.ime}}({{upisan.kod}}) <a href="{%url 'status_upisan' student.id predmet.predmet_id%}">&#10008; Ukloni predmet iz polozenih</a><br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>
  </div>
  <div class="red-sem">
    <h2>Semestar 5:</h2>
    <h4>Upisani predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_u%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 5 %}
          {{upisan.ime}}({{upisan.kod}}) &#9998;<br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>

    <h4>Polozeni predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_p%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 5 %}
          {{upisan.ime}}({{upisan.kod}}) <a href="{%url 'status_upisan' student.id predmet.predmet_id%}">&#10008; Ukloni predmet iz polozenih</a><br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>
  </div>
  <div class="red-sem">
    <h2>Semestar 6:</h2>
    <h4>Upisani predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_u%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 6 %}
          {{upisan.ime}}({{upisan.kod}}) &#9998;<br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>

    <h4>Polozeni predmeti:</h4>
    {%for upisan in predmeti%}
      {%for predmet in list_p%}
        {%if upisan.id == predmet.predmet_id and upisan.sem_redovni == 6 %}
          {{upisan.ime}}({{upisan.kod}}) <a href="{%url 'status_upisan' student.id predmet.predmet_id%}">&#10008; Ukloni predmet iz polozenih</a><br><br>
        {%endif%}
      {%endfor%}
    {%endfor%}
    <br><br>
  </div>
</div>
{% endblock %}

